<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @post_list.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post_list.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post_list.price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @post_list.photo %>
</p>

<%= link_to 'Edit', edit_post_list_path(@post_list) %> |
<%= link_to 'Back', post_lists_path %>
