<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @item.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @item.genre %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @item.photo %>
</p>

<p>
  <strong>Preview:</strong>
  <img width="480" src="<%= @item.photo %>" />
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<div ng-controller="Reply" ng-init="init(<%= @item.id %>)">
  <div ng-repeat="reply in replies">
    <div>{{reply.message}}</div>
    <div>{{reply.created_user}}</div>
    <div>
      <button ng-click="deleteReply(reply.id)">Delete</button>
    </div>
  </div>

  <!-- <button ng-click="deleteReply(1)"></button> -->
</div>
