<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RentKing</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body class="metro" ng-app="Main">

  <header class="bg-dark">
    <div class="navigation-bar dark" ng-controller="Login">
      <div class="navigation-bar-content container">
        <% if @loggined_user_id != nil %>
          <span class="element">
              Current User: <%= @loggined_user_id %>
          </span>
        <% end %>
        
        <span class="element-divider"></span>

        <% if @loggined_user_id == nil %>
          <a
            class="element place-right"
            ng-click="login()">
              Login
          </a>
        <% else %>
          <a
            class="element place-right"
            ng-click="logout()">
              Logout
          </a>
        <% end %>
      </div>
    </div>
  </header>

  <%= yield %>

</body>
</html>
