<!DOCTYPE html>
<html>
<head>
  <title>RentKing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="metro" ng-app="Main">

  <header class="bg-dark">
    <div class="navigation-bar dark" ng-controller="Login">
      <div class="navigation-bar-content container">
        <span class="element" ng-show="loggedin">
          Current User: <%= @user_id %>
        </span>
        <span class="element-divider"></span>
        <a
          class="element place-right"
          ng-click="login()"
          ng-hide="loggedin"
          href="">
            Login
        </a>
        <a
          class="element place-right"
          ng-click="logout()"
          ng-show="loggedin"
          href="">
            Logout
        </a>
      </div>
    </div>
  </header>

  <%= yield %>

</body>
</html>
